<h1>New Company</h1>
<%= form_tag "/companies" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :profession %>
  <%= text_field_tag :profession%>

  <%= submit_tag "Create Company" %>

<% end  %>

